<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title%></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 </head>
<style>
  body {
    background-color: black;
  }
  table {
    border-collapse: collapse;
    width: 70%;
    color: white;
    
  }
  th {
    height: 50px;
  }
  table, th, td {
    border: 1px solid black;
  }
  th, td {
    padding: 10px;
    text-align: left;
  }
  del {
    text-decoration: line-through;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
    float: none;
  }
  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
  color: yellow;
}

.active {
  background-color:rebeccapurple;
}
</style>
<body>
  <div>
    <ul>
      <li><a href="/product">Products </a></li>   |
      <li class="active"><a href="/order">Orders</a></li> 
    </ul>
  </div>
  <br>
  <div class="container">
    <table style="width:100%">
      <tr>
        <th>OrderID</th>
        <th>Shipping Details</th>
        <th>Payment Status</th>
        <th>Fulfillment Status</th>
        <th>Return Status</th>
      </tr>
      <% for(var i = 0; i < data.length; i++) { %>
        <% console.log(data) %>
      <tr>
        <th> <%= data[i].id %> </th>
        <th>
          <%= data[i].shipping_address.first_name %> <%= data[i].shipping_address.last_name %>, <%= data[i].shipping_address.address1 %>, <%= data[i].shipping_address.city %> <%= data[i].shipping_address.zip%>
        </th>
        <th><%= data[i].financial_status%></th>
        <th>
          <% if (data[i].fulfillment_status != null) { %>
            <%= data[i].fulfillment_status %>
          <% } else { %>
            <p style="text-align: center;">-</p>
          <% }%>
        </th>
        <th>
          <% if (data[i].cancelled_at != null) { %>
            Cancelled - <%= data[i].cancel_reason %>
          <% } else { %>
            <p style="text-align: center;">-</p>
          <% } %>
        </th>
      </tr>
      <% } %>
    </table>
  </div>
</body>
</html>